<mat-toolbar class="custom-toolbar">
  <div class="left-section">
    <button mat-icon-button (click)="toggleSidebar()" aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/logo.png" alt="Company Logo" class="company-logo" />
  </div>

  <div class="right-icons">
    
    <button mat-icon-button id="searchButton" (click)="toggleSearch()" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
    

    <div class="search-container" [ngClass]="{ 'expanded': isSearchExpanded }">
      <mat-form-field appearance="outline" style="height: 40px;">
        <input matInput type="search" placeholder="Search..." #searchInput (blur)="closeSearch()">
        <button matSuffix mat-icon-button (click)="closeSearch()" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User account">
      <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="openUserProfile()">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="gotoLogIn()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
