html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.custom-toolbar {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
  .company-logo {
    margin-left: 30px;
    height: 20px;
  }
}

.hidden {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  max-width: 250px;
  opacity: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  height: 100%;
}

.search-container.expanded {
  width: 250px;
  opacity: 1;
  overflow: visible;
  display: flex;
  align-items: center;
}

.mat-form-field {
  height: 40px !important;
  display: flex;
  align-items: center;
}
mat-icon {
  color: white !important;
}
.right-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white !important;
}

@media (max-width: 768px) {
  .search-container {
    max-width: 250px;
  }

  .right-icons {
    gap: 8px;
  }
}
