.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 16px;
  border-radius: 8px;
  background: var(--color-gradient-opaque);
  border: 1px solid white;
  border-radius: 10px;
}

h2.title {
  font-family: "Inter";
  margin-bottom: 20px;
  color: white;
}

:host {
  display: block;
  margin: 30px;
}

table {
  width: 100%;
  background-color: transparent;
  color: white !important;
}

.mat-header-cell {
  font-weight: bold;
  color: white !important;
}

.mat-cell {
  color: white;
}

th {
  color: white;
  font-weight: bold;
  font-family: "Inter";
}

mat-icon {
  color: white;
}

td {
  padding: 12px;
  color: white;
}
.search-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  display: block;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
}

.completed {
  background-color: #00ffae;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

.active {
  background-color: #ffcc00;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

.new-rental-btn {
  margin-top: 20px;
  float: right;
  background-color: var(--button-1) !important;
  color: white !important;
  border-radius: 10px;
}

.new-rental-btn-container {
  text-align: right;
}

.mobile-cards {
  display: none;
}

@media (max-width: 768px) {
  .desktop-table {
    display: none;
  }

  .mobile-cards {
    display: block;
  }
  :host {
    margin: 10px;
  }
  .card {
    background-color: #2d2d2d;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Inter";
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    font-size: 1.2em;
    font-weight: bold;
  }

  .status {
    margin-top: 5px;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
  }

  .completed {
    background-color: green;
    color: white;
  }

  .active {
    background-color: yellow;
    color: black;
  }

  .edit-btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
  }

  .new-rental-btn {
    width: 100%;
  }
}
