<h2 class="title">Vehicle Maintenance History</h2>

<mat-form-field appearance="outline">
  <mat-label>MVA</mat-label>
  <input matInput [(ngModel)]="mva">
</mat-form-field>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="dateOfLeave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Leave </th>
      <td mat-cell *matCellDef="let record"> {{ record.dateOfLeave }} </td>
    </ng-container>

    <ng-container matColumnDef="checkOut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Out </th>
      <td mat-cell *matCellDef="let record"> {{ record.checkOut }} </td>
    </ng-container>

    <ng-container matColumnDef="checkIn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Check In </th>
      <td mat-cell *matCellDef="let record"> {{ record.checkIn }} </td>
    </ng-container>

    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Days </th>
      <td mat-cell *matCellDef="let record"> {{ record.days }} </td>
    </ng-container>

    <ng-container matColumnDef="repairType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Repair Type </th>
      <td mat-cell *matCellDef="let record"> {{ record.repairType }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let record"> {{ record.address }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let record" class="mat-column-status">
        <mat-chip [ngClass]="{'completed': record.status === 'Completed', 'active': record.status === 'Active'}">
          {{ record.status }}
        </mat-chip>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
