<div class="grid-container">
  <h2 class="mat-h1">Dashboard</h2>

  <div style="display: flex; align-items: center; margin-bottom: 16px">
  <mat-slide-toggle class="toggle-button" (change)="toggleDashboard($event.checked)">
  </mat-slide-toggle>
</div>


  <div class="card-container">
    <mat-card
      class="dashboard-card"
      (click)="navigateTo('Total Cars Available')"
    >
      <mat-card-header>
        <mat-card-title>Total Cars Available</mat-card-title>
      </mat-card-header>
      <mat-card-content>Total cars available: 50</mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" (click)="navigateTo('Total Revenue')">
      <mat-card-header>
        <mat-card-title>Total Revenue</mat-card-title>
      </mat-card-header>
      <mat-card-content>Total revenue: $10,000</mat-card-content>
    </mat-card>

    <mat-card
      class="dashboard-card full-width"
      (click)="navigateTo('Recent Rentals')"
    >
      <mat-card-header>
        <mat-card-title>Open Rentals</mat-card-title>
      </mat-card-header>
      <mat-card-content>Details about recent rentals...</mat-card-content>
    </mat-card>
  </div>
</div>
