.grid-container {
  margin: 30px;
}
.mat-h1{
  color:white;
  font-family:'inter';
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #575757;
  color: white;
  font-family: 'Inter';

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  border-radius: 8px; 
}




.dashboard-card-content {
  text-align: center;
}
