<mat-dialog-content class="dialog-container">
  <div class="scrollable-content">
    <div class="title-container">
      <h2 class="title">Add Damage</h2>
      <app-upload-options class="upload-icon-title"></app-upload-options>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Car Part</mat-label>
        <mat-select>
          <mat-option value="door">Door</mat-option>
          <mat-option value="bumper">Bumper</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Damage</mat-label>
        <mat-select>
          <mat-option value="scratch">Scratch</mat-option>
          <mat-option value="dent">Dent</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Severity</mat-label>
        <mat-select>
          <mat-option value="low">Low</mat-option>
          <mat-option value="high">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>State of Car</mat-label>
        <mat-select>
          <mat-option value="used">Available</mat-option>
          <mat-option value="new">Not Working</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <p class="instructions">
      Tap or click anywhere on the image to mark the damage.<br />
      On mobile/tablet, double-tap to mark.<br />
      Tap/click on the dot to delete!
    </p>
    <div class="image-container">
      <img
        src="assets/car-damage.png"
        alt="Car Image"
        (click)="addMarker($event)"
        (touchstart)="addMarker($event)"
        style="width: 100%; height: auto; display: block"
      />
      <div
        *ngFor="let mark of damageMarks; let i = index"
        class="marker"
        [style.left.%]="mark.x"
        [style.top.%]="mark.y"
        (click)="onMarkerClick(i)"
      ></div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button class="add-btn" (click)="save()">Add</button>
</mat-dialog-actions>
