.title {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Inter";
}

h2,
h3 {
  color: white;
  font-family: "Inter", sans-serif;
}
input {
  color: white !important;
}
.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  margin-top: 20px;
}
.button-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
mat-card {
  background: transparent;
  box-shadow: none;
}
:host {
  display: block;
  margin: 30px;
}
mat-form-field {
  width: 100%;
  color: white;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
}

::ng-deep .mat-mdc-form-field input.mat-mdc-input-element {
  color: white !important;
}

::ng-deep .mat-mdc-form-field .mdc-floating-label {
  color: rgba(255, 255, 255, 0.7) !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-floating-label,
::ng-deep .mat-mdc-form-field .mdc-floating-label--float-above {
  color: white !important;
}

@media (max-width: 768px) {
  .grid-two-columns {
    grid-template-columns: 1fr;
  }

  .form-container {
    padding: 10px;
  }

  .title {
    font-size: 1.5em;
  }

  mat-form-field {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2em;
  }
  :host {
    margin: 10px;
  }
  .grid-two-columns {
    gap: 10px;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }
}
