<h2 class="title">Edit User</h2>

<mat-card class="form-container">
  <mat-card-content>
    <form [formGroup]="usersForm">
      <div class="grid-two-columns">
        <div>
          <h3>User Information</h3>
          <mat-divider></mat-divider><br />
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fname" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lname" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <input matInput formControlName="role" />
          </mat-form-field>
        </div>

        <div>
          <h3>User Credentials</h3>
          <mat-divider></mat-divider><br />
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </div>
      </div>

      
    </form>
  </mat-card-content>
</mat-card><div class="button-group">
        <button mat-raised-button class="save-btn" (click)="saveUser()">Save</button>
      </div>
