<mat-toolbar class="header">
   
      <img src="assets/logo.png" alt="ATMAX Logo" class="logo" />
    
 
  </mat-toolbar>
  
  <div class="login-wrapper">
    <mat-card class="login-container">
      <h2>Reset Password</h2>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter the code</mat-label>
          <input matInput formControlName="code" type="text" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New password</mat-label>
          <input matInput formControlName="newPassword" [type]="hide() ? 'password' : 'text'" required />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePassword($event)"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="reset-btn" type="submit" [disabled]="resetPasswordForm.invalid">
          Reset Password
        </button>
  
        <a (click)="goToLogin()" class="back-to-login">Back to Login</a>
      </form>
    </mat-card>
  </div>
  