<h2 class="title">Display Rental</h2>

<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper headerPosition="bottom">
    <mat-step label="Pricing" state="phone">
      <mat-card class="form-container">
        <mat-card-header><h3>Search</h3></mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider><br />

          <form [formGroup]="searchForm" (ngSubmit)="fetchRental()">
            <div class="grid-fields">
              <mat-form-field appearance="outline">
                <mat-label>RAN, MVA</mat-label>
                <input
                  matInput
                  formControlName="rentalNumber"
                  (keydown.enter)="fetchRental()"
                />
              </mat-form-field>

              <button
                mat-raised-button
                color="primary"
                class="buttons"
                type="button"
                (click)="openExchangeForm()"
              >
                Exchange
              </button>
            </div>
          </form>
        </mat-card-content>
        <!--EXHChange form
        -->
       <mat-card *ngIf="showExchangeForm && currentCarForm && newCarForm" class="form-container" style="margin-top: 20px">
  <mat-card-content>
    <h3>Exchange Vehicle</h3>
    <mat-divider></mat-divider><br />

    <p>Did the car leave the lot?</p>
    <mat-radio-group (change)="setCarLeftLot($event.value)">
      <mat-radio-button value="no">No</mat-radio-button>
      <mat-radio-button value="yes">Yes</mat-radio-button>
    </mat-radio-group>

    <!-- 🚗 Current Car -->
    <h4 style="margin-top: 20px">Current Car</h4>
    <div class="grid-fields" [formGroup]="currentCarForm">
      <mat-form-field appearance="outline">
        <mat-label>MVA</mat-label>
        <input matInput formControlName="mva" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Plate</mat-label>
        <input matInput formControlName="plate" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput formControlName="status" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mileage</mat-label>
        <input matInput formControlName="mileage" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Check Out</mat-label>
        <input matInput formControlName="checkOut" />
      </mat-form-field>
    </div>

    <!-- 🧾 Extra info if car left lot -->
    <div *ngIf="carLeftLot === 'yes'" style="margin-top: 20px">
      <h4>Inspection Details</h4>
      <div class="grid-fields" [formGroup]="inspectionForm">
        <mat-form-field appearance="outline">
          <mat-label>KM In</mat-label>
          <input matInput formControlName="kmIn" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Purchase Fuel (€)</mat-label>
          <input matInput formControlName="purchaseFuel" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fuel In (out of 8)</mat-label>
          <input matInput formControlName="fuelIn" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Adjustments (€)</mat-label>
          <input matInput formControlName="adjustments" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Damages</mat-label>
          <input matInput formControlName="damages" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Accident</mat-label>
          <input matInput formControlName="accident" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Other</mat-label>
          <input matInput formControlName="other" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Reason</mat-label>
          <input matInput formControlName="reason" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Amount (€)</mat-label>
          <input matInput formControlName="amount" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>One-Way</mat-label>
          <mat-select formControlName="oneWay">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Misc</mat-label>
          <input matInput formControlName="misc" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Misc Fee (€)</mat-label>
          <input matInput formControlName="miscFee" />
        </mat-form-field>
      </div>
    </div>

    <!-- 🚘 New Car -->
    <h4 style="margin-top: 20px">New Car</h4>
    <div class="grid-fields" [formGroup]="newCarForm">
      <mat-form-field appearance="outline">
        <mat-label>MVA</mat-label>
        <input matInput formControlName="mva" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <input matInput formControlName="color" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mileage</mat-label>
        <input matInput formControlName="mileage" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fuel (out of 8)</mat-label>
        <input matInput formControlName="fuel" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Plate</mat-label>
        <input matInput formControlName="plate" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput formControlName="status" />
      </mat-form-field>
    </div>

    <div class="buttons-group" style="margin-top: 20px">
      <button mat-raised-button color="primary" (click)="submitExchange()">
        Confirm Exchange
      </button>
    </div>
  </mat-card-content>
</mat-card>


        <mat-card-header>
          <h3>Dates</h3>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider><br />
          <div class="grid-fields">
            <mat-form-field appearance="outline" class="gray-bg">
              <mat-label>Check Out Date</mat-label>
              <input
                matInput
                [matDatepicker]="checkOutDatePicker"
                [formControl]="CheckOutDateControl"
                (dateChange)="updateActualCheckOut()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="checkOutDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #checkOutDatePicker
                [touchUi]="true"
              ></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="gray-bg">
              <mat-label>Check Out Time</mat-label>
              <input
                matInput
                type="time"
                [formControl]="CheckOutTimeControl"
                (change)="updateActualCheckOut()"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="readonly-field">
              <mat-label>Check In Date</mat-label>
              <input
                matInput
                [matDatepicker]="checkInDatePicker"
                [formControl]="CheckInDateControl"
                (dateChange)="updateActualCheckIn()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="checkInDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #checkInDatePicker
                [touchUi]="true"
              ></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="readonly-field">
              <mat-label>Check In Time</mat-label>
              <input
                matInput
                type="time"
                [formControl]="CheckInTimeControl"
                (change)="updateActualCheckIn()"
              />
            </mat-form-field>
          </div>
          <h3 class="title">Pricing</h3>

          <mat-divider></mat-divider><br />

          <form
            [formGroup]="pricingFormGroup"
            (keydown.enter)="focusNext($event)"
          >
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="readonly-field">
                <mat-label>Car Group</mat-label>
                <mat-select formControlName="carGroup">
                  <mat-option value="IDMR">IDMR</mat-option>
                  <mat-option value="CDMR">CDMR</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="button-group">
              <button
                mat-raised-button
                color="primary"
                class="buttons"
                type="button"
                (click)="calculatePrice()"
              >
                Calculate Price
              </button>
              <button
                mat-raised-button
                type="button"
                class="buttons"
                (click)="toggleAdditionalFees()"
              >
                Add Additional Fees
              </button>
              <button
                mat-raised-button
                type="button"
                class="buttons"
                (click)="toggleDiscount()"
              >
                Add Discount
              </button>
            </div>

            <mat-card *ngIf="showAdditionalFees" class="form-container">
              <h3>Additional Fees</h3>
              <mat-divider></mat-divider><br />
              <mat-card-content>
                <div formArrayName="additionalFees">
                  <div
                    *ngFor="let fee of additionalFees.controls; let i = index"
                    [formGroupName]="i"
                    class="fee-row"
                  >
                    <mat-form-field appearance="outline" class="gray-bg">
                      <mat-label>Additional Fee</mat-label>
                      <mat-select formControlName="feeType">
                        <mat-option value="Additional Drivers"
                          >Additional Drivers (€50)</mat-option
                        >
                        <mat-option value="Child Seat"
                          >Child Seat (€30)</mat-option
                        >
                        <mat-option value="Cross Borders"
                          >Cross Borders (€40)</mat-option
                        >
                        <mat-option value="Booster Seat"
                          >Booster Seat (€25)</mat-option
                        >
                        <mat-option value="Insurance Lv.1"
                          >Insurance Lv.1 (€60)</mat-option
                        >
                        <mat-option value="Insurance Lv.2"
                          >Insurance Lv.2 (€100)</mat-option
                        >
                        <mat-option value="KMFee">Additional KM fee</mat-option>

                        <mat-option value="AirportChange"
                          >Airport Change Fee (€20)</mat-option
                        >
                        <mat-option value="youngDriver"
                          >Young Driver</mat-option
                        >
                        <mat-option value="upgrade">Upsell/Upgrade</mat-option>

                        <mat-option value="latePickup">Late Pickup</mat-option>

                        <mat-option value="winterTire">Winter Tire</mat-option>

                        <mat-option value="noshowFee">No Show Fee</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      *ngIf="fee.get('feeType')?.value === 'AirportChange'"
                      appearance="outline"
                    >
                      <mat-label>Which Airport</mat-label>
                      <mat-select formControlName="airportName">
                        <mat-option value="Baden-Baden">Baden-Baden</mat-option>
                        <mat-option value="Memmingen">Memmingen</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field
                      *ngIf="fee.get('feeType')?.value === 'KMFee'"
                      appearance="outline"
                    >
                      <mat-label>Nr of KM</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="kmCount"
                        placeholder="e.g. 100"
                      />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="gray-bg">
                      <mat-label>Price (€)</mat-label>
                      <input matInput formControlName="price" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="gray-bg">
                      <mat-label>Max Price (€)</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="maxPrice"
                      />
                    </mat-form-field>

                    <button
                      mat-icon-button
                      color="warn"
                      (click)="removeAdditionalFee(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                  <button
                    mat-mini-fab
                    color="primary"
                    (click)="addAdditionalFee()"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card *ngIf="showDiscount" class="conditional-card">
              <h3 style="color: red">Discount</h3>
              <mat-divider></mat-divider><br />
              <mat-card-content>
                <div class="grid-fields">
                  <mat-form-field appearance="outline">
                    <mat-label>Discount (%)</mat-label>
                    <input matInput formControlName="discountPercentage" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="gray-bg">
                    <mat-label>Reason</mat-label>
                    <input matInput formControlName="discountReason" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="gray-bg">
                    <mat-label>Applied By</mat-label>
                    <mat-select formControlName="discountAppliedBy">
                      <mat-option>Employee 1</mat-option>
                      <mat-option>Employee 2</mat-option>
                      <mat-option>Employee 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <h3>Total Price</h3>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Tax (%)</mat-label>
                <input matInput type="number" formControlName="tax" />
              </mat-form-field>
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Net Amount (€)</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Auto-calculated"
                  formControlName="netAmount"
                />
              </mat-form-field>
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Gross Amount (€)</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Auto-calculated"
                  formControlName="grossAmount"
                />
              </mat-form-field>
            </div>
          </form>

          <div class="buttons-group" style="margin-top: 30px">
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <mat-step label="Customer Information">
      <mat-card class="form-container">
        <mat-card-header>
          <h3 class="title">Customer Information</h3>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="customerFormGroup">
            <h4>Customer Details</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Academic Title</mat-label>
                <input matInput formControlName="academicTitle" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Date of Birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="dobPicker"
                  formControlName="dob"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dobPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Age</mat-label>
                <input
                  matInput
                  [value]="calculateAge(customerFormGroup.get('dob')?.value)"
                  disabled
                />
                <button
                  mat-icon-button
                  matSuffix
                  *ngIf="showYoungDriverNotice()"
                  matTooltip="Young Driver (18–21)"
                >
                  <mat-icon color="accent">info</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Phone nr.</mat-label>
                <input matInput formControlName="phone" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
            </div>

            <h4>Driver Information</h4>
            <mat-divider></mat-divider><br />
            <div>
              <p class="colorwhite">
                Is the driver the same person as the renter?
              </p>

              <mat-radio-group
                formControlName="driverSameAsRenter"
                class="radio-group"
              >
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <h4>Address</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Street</mat-label>
                <input matInput formControlName="street" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Address 2</mat-label>
                <input matInput formControlName="address2" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>ZIP</mat-label>
                <input matInput formControlName="zip" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                  <mat-option>Country 1</mat-option>
                  <mat-option>Country 2</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>House nr.</mat-label>
                <input matInput formControlName="houseNr" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" />
              </mat-form-field>
            </div>

            <h4>Billing Address</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <p class="colorwhite">
                Is your billing address the same as your home address?
              </p>
              <mat-radio-group
                formControlName="sameBillingAddress"
                class="radio-group"
              >
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <div
              class="grid-fields"
              *ngIf="
                customerFormGroup.get('sameBillingAddress')?.value === 'no'
              "
            >
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Street</mat-label>
                <input matInput formControlName="street" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>ZIP</mat-label>
                <input matInput formControlName="zip" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                  <mat-option>Country 1</mat-option>
                  <mat-option>Country 2</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" />
              </mat-form-field>
            </div>

            <h4>Identification Information</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Identification Type</mat-label>
                <mat-select>
                  <mat-option>ID Type 1</mat-option>
                  <mat-option>ID Type 2</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Identification nr.</mat-label>
                <input matInput formControlName="idNumber" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>ID Expiry Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="idExpiryPicker"
                  formControlName="idExpiry"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="idExpiryPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #idExpiryPicker></mat-datepicker>
                <mat-icon *ngIf="isIdExpired()" color="warn">warning</mat-icon>
              </mat-form-field>

              <div class="upload-container">
                <app-upload-options *ngIf="isMobile"></app-upload-options>
                <div *ngIf="!isMobile">
                  <button mat-icon-button (click)="fileInput.click()">
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                  <input
                    hidden
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                  />
                </div>
              </div>
            </div>

            <h4>License Information</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Driver's License nr.</mat-label>
                <input matInput formControlName="licenseNumber" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Country</mat-label>
                <input matInput formControlName="licenseCountry" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>License Issued Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="licenseIssuedPicker"
                  formControlName="licenseIssued"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="licenseIssuedPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #licenseIssuedPicker></mat-datepicker>
                <mat-icon *ngIf="isLicenseRecent() === 'warning'" color="warn"
                  >warning</mat-icon
                >
                <mat-icon *ngIf="isLicenseRecent() === 'ok'" color="primary"
                  >check_circle</mat-icon
                >
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Date of Expiry</mat-label>
                <input
                  matInput
                  [matDatepicker]="expiryPicker"
                  formControlName="licenseExpiry"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="expiryPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #expiryPicker></mat-datepicker>
              </mat-form-field>

              <div class="upload-container">
                <app-upload-options *ngIf="isMobile"></app-upload-options>
                <div *ngIf="!isMobile">
                  <button mat-icon-button (click)="fileInput.click()">
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                  <input
                    hidden
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                  />
                </div>
              </div>
            </div>

            <mat-form-field
              appearance="outline"
              style="width: 100%; margin-top: 15px"
            >
              <mat-label>Internal Note</mat-label>
              <input matInput formControlName="customerNote" />
            </mat-form-field>

            <div class="buttons-group">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <ng-container *ngIf="driverStepVisible">
      <mat-step label="Driver">
        <mat-card class="form-container">
          <mat-card-header>
            <h3 class="title">Driver</h3>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="driverFormGroup">
              <h4 class="title">Driver Information</h4>
              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Academic Title</mat-label
                  ><input matInput formControlName="academicTitle"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>First Name</mat-label
                  ><input matInput formControlName="firstName"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Last Name</mat-label
                  ><input matInput formControlName="lastName"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Date of Birth</mat-label
                  ><input
                    matInput
                    [matDatepicker]="driverDob"
                    formControlName="dob" /><mat-datepicker-toggle
                    matSuffix
                    [for]="driverDob"
                  ></mat-datepicker-toggle
                  ><mat-datepicker #driverDob></mat-datepicker
                ></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Phone nr.</mat-label
                  ><input matInput formControlName="phone"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Email</mat-label
                  ><input matInput formControlName="email"
                /></mat-form-field>
              </div>
              <h4>Address</h4>
              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Street</mat-label
                  ><input matInput formControlName="street"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Address 2</mat-label
                  ><input matInput formControlName="address2"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>ZIP</mat-label
                  ><input matInput formControlName="zip"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>Country</mat-label
                  ><input matInput formControlName="country"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>House nr.</mat-label
                  ><input matInput formControlName="houseNr"
                /></mat-form-field>
                <mat-form-field appearance="outline" class="gray-bg"
                  ><mat-label>City</mat-label
                  ><input matInput formControlName="city"
                /></mat-form-field>
              </div>

              <div class="buttons-group">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-step>
    </ng-container>

    <ng-container *ngFor="let form of additionalDriverForms; let i = index">
      <mat-step [label]="'Additional Driver ' + (i + 1)">
        <mat-card class="form-container">
          <mat-card-header>
            <h3 class="title">Additional Driver {{ i + 1 }}</h3>
          </mat-card-header>

          <mat-card-content>
            <form [formGroup]="form">
              <h4>Driver Details</h4>
              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Academic Title</mat-label>
                  <input matInput formControlName="academicTitle" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Date of Birth</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dobPicker"
                    formControlName="dob"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dobPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dobPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Phone nr.</mat-label>
                  <input matInput formControlName="phone" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Age</mat-label>
                  <input
                    matInput
                    [value]="
                      calculateAge(
                        customerFormGroup.get('driverDetails.dob')?.value
                      )
                    "
                    disabled
                  />
                </mat-form-field>
              </div>

              <h4>Identification Information</h4>
              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Identification Type</mat-label>
                  <mat-select formControlName="idType">
                    <mat-option>ID Type 1</mat-option>
                    <mat-option>ID Type 2</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Identification nr.</mat-label>
                  <input matInput formControlName="idNumber" />
                </mat-form-field>

                <div class="upload-container">
                  <app-upload-options *ngIf="isMobile"></app-upload-options>
                  <div *ngIf="!isMobile">
                    <button mat-icon-button (click)="fileInput.click()">
                      <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <input
                      hidden
                      type="file"
                      #fileInput
                      (change)="onFileSelected($event)"
                    />
                  </div>
                </div>
              </div>

              <h4>License Information</h4>
              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Driver's License nr.</mat-label>
                  <input matInput formControlName="licenseNumber" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="licenseCountry" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="gray-bg">
                  <mat-label>Date of Expiry</mat-label>
                  <input
                    matInput
                    [matDatepicker]="expiryPicker"
                    formControlName="licenseExpiry"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="expiryPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #expiryPicker></mat-datepicker>
                </mat-form-field>

                <div class="upload-container">
                  <app-upload-options *ngIf="isMobile"></app-upload-options>
                  <div *ngIf="!isMobile">
                    <button mat-icon-button (click)="fileInput.click()">
                      <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <input
                      hidden
                      type="file"
                      #fileInput
                      (change)="onFileSelected($event)"
                    />
                  </div>
                </div>
              </div>

              <div class="buttons-group">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-step>
    </ng-container>
    <!--put stepper with errors in the steps when conn with backnd-->
    <mat-step label="Car Information" state="phone">
      <mat-card class="form-container">
        <mat-card-header>
          <h3 class="title">Car Information</h3>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="carInformationFormGroup">
            <mat-divider></mat-divider><br />

            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>MVA</mat-label>
                <input matInput formControlName="mva" placeholder="Enter MVA" />
              </mat-form-field>
            </div>

            <div class="grid-fields">
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Car Group</mat-label>
                <input matInput formControlName="carGroup" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>License Plate</mat-label>
                <input matInput formControlName="licensePlate" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Fuel</mat-label>
                <input matInput formControlName="fuel" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Car Model</mat-label>
                <input matInput formControlName="carModel" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Millage</mat-label>
                <input matInput formControlName="millage" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Color</mat-label>
                <input matInput formControlName="color" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Status</mat-label>
                <input matInput formControlName="status" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Transmission</mat-label>
                <input matInput formControlName="transmission" />
              </mat-form-field>
            </div>

            <div class="buttons-group">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <mat-step label="Payment" state="phone">
      <mat-card class="form-container">
        <mat-card-header>
          <h3 class="title">Payment</h3>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="paymentFormGroup">
            <h4>Card Information</h4>
            <mat-divider></mat-divider><br />

            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Card Type</mat-label>
                <input matInput formControlName="cardType" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Card Expiry Date</mat-label>
                <input
                  matInput
                  [formControl]="expiryDateControl"
                  [matDatepicker]="expPicker"
                  (click)="expPicker.open()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="expPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #expPicker
                  startView="multi-year"
                  (monthSelected)="selectExpiryMonth($event, expPicker)"
                  [startAt]="initialExpiryMoment"
                  panelClass="example-month-picker"
                  [touchUi]="true"
                ></mat-datepicker>
                <mat-hint>MM/YYYY</mat-hint>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>CVV</mat-label>
                <input matInput formControlName="cvv" />
              </mat-form-field>
            </div>
            <h4>Payment Amount</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Amount on Hold</mat-label>
                <input matInput formControlName="amountOnHold" />
              </mat-form-field>
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Check Out Gross Amount</mat-label>
                <input matInput formControlName="checkoutGrossAmount" />
              </mat-form-field>
            </div>
            <h4>More Information</h4>
            <mat-divider></mat-divider><br />
            <div class="grid-fields">
              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Payment Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="paymentDatePicker"
                  formControlName="paymentDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="paymentDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #paymentDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Payment Status</mat-label>
                <mat-select formControlName="paymentStatus">
                  <mat-option value="Paid">Paid</mat-option>
                  <mat-option value="Pending">Pending</mat-option>
                  <mat-option value="Failed">Failed</mat-option>
                  <mat-option value="Refunded">Refunded</mat-option>
                  <mat-option value="On Hold">On Hold</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="gray-bg">
                <mat-label>Authorization Code</mat-label>
                <input matInput formControlName="authorizationCode" />
              </mat-form-field>
            </div>

            <div class="buttons-gr">
              <button mat-raised-button color="primary" (click)="save()">
                Save & Print
              </button>
            </div>

            <div class="buttons-group">
              <button mat-button matStepperPrevious>Back</button>
            </div>
            <div class="buttons-group" style="margin-top: 20px"></div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-card class="summary">
    <mat-card-header>
      <mat-card-title>Live Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Rental ID:</strong> 0000001</p>
      <p><strong>First Name:</strong> John</p>
      <p><strong>Last Name:</strong> Doe</p>
      <p><strong>Check Out:</strong> 01/04/2024</p>
      <p><strong>Check In:</strong> 10/04/2024</p>
      <p><strong>Net Amount:</strong> €300</p>
      <p><strong>Extras:</strong> €50</p>
      <p><strong>Gross Amount:</strong> €350</p>
    </mat-card-content>
  </mat-card>
</div>
