.form-container {
  padding: 20px;
  background: transparent;
  border-radius: 10px;

  max-height: 80vh;
  overflow-y: hidden !important;
}
:host {
  display: block;
  margin: 30px;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full-width {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h2 {
  color: white;
  font-family: "Inter";
}
.full-width {
  width: 100%;
}

table {
  background-color: transparent;
}

th,
td {
  border: 1px 1px 0px 1px solid white;
  padding: 8px;
  text-align: left;
  color: white;
}

.edit-vehicle-form {
  overflow: hidden !important;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
input {
  color: white !important;
}
.cancel-btn {
  color: #ec3838;
}
.side-btns {
  width: auto;
  margin-top: 10px;
  color: white !important;
  background: var(--button-2) !important;
  border-radius: 10px;
  margin-left: 10px;
}

.damage-history {
  background-color: transparent;
  padding: 16px;
  border: none;
  width: 40%;
  box-shadow: none;
}
mat-card {
  box-shadow: none;
  margin: 0px;
}
.damage-table {
  width: 100%;
  border-collapse: collapse;
}

.damage-table th {
  color: #ccc;
  padding: 8px;
  text-align: left;
}

.damage-table td {
  padding: 8px;
}

.delete-btn {
  color: #fa1100;

  cursor: pointer;
  font-size: 18px;
}
.damage-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.damage-options button {
  margin-left: 10px;
}

.save-btn {
  color: white !important;
  background: var(--button-1) !important;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .form-container {
    padding: 15px;
  }

  h2.subtitle {
    font-size: 1.4em;
    text-align: center;
  }

  .damage-history {
    width: 100%;
  }

  .buttons-container {
    flex-direction: column;
    gap: 5px;
  }

  .side-btns .save-btn,
  .cancel-btn {
    width: 100%;
  }

  .damage-table th,
  .damage-table td {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2em;
  }

  .column {
    min-width: unset;
  }

  .save-btn,
  .cancel-btn,
  .side-btns {
    font-size: 1em;
    padding: 8px;
  }

  .damage-table th,
  .damage-table td {
    font-size: 0.8em;
    padding: 6px;
  }
}
