:host {
  display: block;
  margin: 30px;
}

h2.title {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "Inter";
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 16px;
  border-radius: 10px;
  background: var(--color-gradient-opaque);
  border: 1px solid white;
}

table {
  width: 100%;
  background: transparent;
  color: white;
}
.search-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #000000;
  color: white;
  display: block;
}

th {
  background: #242323;
  color: white;
  font-weight: bold;
  font-family: "Inter";
}

td {
  padding: 12px;
  color: white;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

button {
  font-weight: bold;
  text-transform: none;
}
.button1 {
  background-color: var(--button-1) !important;
  color: white !important;
  border-radius: 10px;
  font-weight: bold;
  text-transform: none;
}

.mat-icon {
  color: var(--color-gradient-mid);
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mobile-cards {
  display: none;
}

@media (max-width: 730px) {
  .desktop-table {
    display: none;
  }

  .mobile-cards {
    display: block;
  }

  .card {
    background: transparent;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .edit-btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .car-id {
    font-size: 0.9em;
    font-weight: bold;
    color: lightgray;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
  }

  button {
    width: 100%;
    max-width: 300px;
  }
}
