:host {
  display: block;
  margin: 30px;
}

h2.title {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "Inter";
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 16px;
  border-radius: 8px;
}

table {
  width: 100%;
  background: transparent;
  color: white;
}

th {
  background: #242323;
  color: white;
  font-weight: bold;
  font-family: "Inter";
}

td {
  padding: 12px;
  color: white;
}

.active {
  background-color: yellow;
  color: #242323;
  padding: 5px 10px;
  border-radius: 10px;
}
.mat-elevation-z8 {
  box-shadow: none;
}

.mobile-cards {
  display: none;
}

@media (max-width: 730px) {
  .desktop-table {
    display: none;
  }
  :host {
    margin: 10px;
  }
  .mobile-cards {
    display: block;
  }

  .card {
    background-color: #2d2d2d;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .edit-btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .car-id {
    font-size: 0.9em;
    font-weight: bold;
    color: lightgray;
  }
}
