<mat-toolbar class="header">

    <img src="assets/logo.png" alt="ATMAX Logo" class="logo" />
 
</mat-toolbar>

<div class="login-wrapper">
  <mat-card class="login-container">
    <h2>LOG IN</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" required />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePassword($event)"
          [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-btn">
        LOG IN
      </button>

      <a (click)="goToForgotPassword()" class="forgot-password">Forgot password?</a>
    </form>
  </mat-card>
</div>