<h2 class="title">Check In</h2>

<div class="container">
  <mat-card class="form-container">
    <mat-card-content>
      <form [formGroup]="checkInForm">
        <div class="car-date-row">
          <div>
            <h3>Car Information</h3>
            <mat-divider></mat-divider>
            <div class="row-fields">
              <mat-form-field appearance="outline">
                <mat-label>MVA</mat-label>
                <input matInput formControlName="rentalNumber" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Rental nr.</mat-label>
                <input matInput formControlName="mva" />
              </mat-form-field>
            </div>
          </div>

          <div>
            <h3>Date</h3>
            <mat-divider></mat-divider>
            <div class="row-fields">
              <mat-form-field appearance="outline">
                <mat-label>Actual Check Out</mat-label>
                <input
                  matInput
                  formControlName="actualCheckOut"
                  [matDatepicker]="checkOutPicker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkOutPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #checkOutPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Actual Check In</mat-label>
                <input
                  matInput
                  formControlName="actualCheckIn"
                  [matDatepicker]="checkInPicker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkInPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #checkInPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="grid-two-columns">
          <div>
            <h3>Price</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
              <mat-label>Check Out Price</mat-label>
              <input matInput formControlName="checkOutPrice" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Check In Price</mat-label>
              <input matInput formControlName="checkInPrice" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Net Amount</mat-label>
              <input matInput formControlName="netAmount" />
            </mat-form-field>
          </div>

          <div>
            <h3>Mileage</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
              <mat-label>KM Out</mat-label>
              <input matInput formControlName="kmOut" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>KM In</mat-label>
              <input matInput formControlName="kmIn" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Mileage Additional Amount</mat-label>
              <input matInput formControlName="fuelIn" />
            </mat-form-field>
          </div>
          <div>
            <h3>Fuel</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
              <mat-label>Fuel Out</mat-label>
              <input matInput formControlName="fuelOut" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fuel In</mat-label>
              <input matInput formControlName="fuelIn" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Fuel Additional Amount</mat-label>
              <input matInput formControlName="fuelIn" />
            </mat-form-field>
          </div>
        </div>

        <div class="grid-two-columns">
          <div class="grid-two-columns">
            <h3>Gross Amount</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
              <mat-label>Gross Amount</mat-label>
              <input matInput formControlName="grossAmount" />
            </mat-form-field>
          </div>
        </div>

        <div class="button-group">
          <button
            mat-raised-button
            class="bluebutton"
            (click)="toggleAdditionalFees()"
          >
            Add Additional Fees
          </button>
          <button mat-raised-button class="bluebutton" (click)="addDamage()">
            Add Damage
          </button>
        </div>

        <mat-card *ngIf="showAdditionalFees" class="form-container">
          <h3>Additional Fees</h3>
          <mat-divider></mat-divider><br />
          <mat-card-content>
            <div formArrayName="additionalFees">
              <div
                *ngFor="let fee of additionalFees.controls; let i = index"
                [formGroupName]="i"
                class="fee-row"
              >
                <!-- Additional Fee Dropdown -->
                <mat-form-field appearance="outline">
                  <mat-label>Additional Fee</mat-label>
                  <mat-select formControlName="feeType">
                    <mat-option value="tax">Tax (€50)</mat-option>
                    <mat-option value="cleaning">Cleaning (€30)</mat-option>
                    <mat-option value="carTank">Car Tank (€40)</mat-option>
                    <mat-option value="damage">Damage (€25)</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Price (€)</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="price"
                    placeholder="e.g. 50"
                  />
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeAdditionalFee(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="add-fee-container">
                <button
                  mat-mini-fab
                  color="primary"
                  (click)="addAdditionalFees()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="buttons-group">
          <button mat-raised-button color="primary">Save</button>
          <button mat-raised-button color="primary">Download</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary">
    <mat-card-header>
      <mat-card-title>Live Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Rental ID:</strong> {{ summary.rentalId }}</p>
      <p><strong>MVA</strong> €{{ summary.netAmount }}</p>
      <p><strong>Gross Amount:</strong> €{{ summary.extras }}</p>
      <p><strong>Check In Date</strong> €{{ summary.grossAmount }}</p>
    </mat-card-content>
  </mat-card>
</div>
