<h2 class="title">Check In</h2>

<div class="container">
  <div class="form-wrapper">
    <mat-horizontal-stepper [linear]="true" #stepper headerPosition="bottom">
      <mat-step [stepControl]="carInformationFormGroup" label="Car Information">
        <form [formGroup]="carInformationFormGroup">
          <mat-card class="form-container">
            <mat-card-content>
              <h3 class="title">Rental Information</h3>
              <mat-divider></mat-divider><br />

              <div class="grid-fields">
                <mat-form-field appearance="outline" class="readonly-field">
                  <mat-label>Rental Agreement Number</mat-label>
                  <input matInput formControlName="rentalnr" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="readonly-field">
                  <mat-label>MVA</mat-label>
                  <input matInput formControlName="mva" />
                </mat-form-field>
              </div>
              <h3 class="title">Customer Information</h3>

              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field class="gray-bg" appearance="fill">
                  <mat-label>Customer Name</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="customername"
                  />
                </mat-form-field>
                <mat-form-field class="gray-bg" appearance="fill">
                  <mat-label>Customer Last Name</mat-label>
                  <input matInput formControlName="customerlname" />
                </mat-form-field>
              </div>
              <h3 class="title">Car Information</h3>

              <mat-divider></mat-divider><br />
              <div class="grid-fields">
                <mat-form-field class="gray-bg" appearance="fill">
                  <mat-label>Car Group</mat-label>
                  <input matInput formControlName="carGroup" />
                </mat-form-field>
                <mat-form-field class="gray-bg" appearance="fill">
                  <mat-label>License Plate</mat-label>
                  <input matInput formControlName="licensePlate" />
                </mat-form-field>

                <mat-form-field class="gray-bg" appearance="fill">
                  <mat-label>Car Model</mat-label>
                  <input matInput formControlName="carModel" />
                </mat-form-field>
              </div>

              <div class="buttons-group">
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>

      <mat-step [stepControl]="checkInForm" label="Check In">
        <form [formGroup]="checkInForm" (keydown.enter)="focusNext($event)">
          <mat-card class="form-container">
            <mat-card-content>
              <div class="car-date-row">
                <div>
                  <h3>Date</h3>
                  <mat-divider></mat-divider>
                  <div class="form-section-row">
                    <div class="form-section-col">
                      <mat-form-field class="gray-bg" appearance="fill">
                        <mat-label>Actual Check Out Date</mat-label>
                        <input
                          matInput
                          [matDatepicker]="checkOutDatePicker"
                          formControlName="actualCheckOutDate"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="checkOutDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                          #checkOutDatePicker
                          [touchUi]="true"
                        ></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field class="gray-bg" appearance="fill">
                        <mat-label>Check Out Time</mat-label>
                        <input
                          matInput
                          type="time"
                          formControlName="actualCheckOutTime"
                        />
                      </mat-form-field>
                    </div>

                    <div class="form-section-col">
                      <mat-form-field class="gray-bg" appearance="fill">
                        <mat-label>Expected Check In Date</mat-label>
                        <input
                          matInput
                          [matDatepicker]="expectedCheckInDate"
                          formControlName="expectedCheckInDate"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="expectedCheckInDate"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                          #expectedCheckInDate
                          [touchUi]="true"
                        ></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field class="gray-bg" appearance="fill">
                        <mat-label>Expected Check In Time</mat-label>
                        <input
                          matInput
                          type="time"
                          formControlName="expectedCheckInTime"
                        />
                      </mat-form-field>
                    </div>

                    <div class="form-section-col">
                      <mat-form-field
                        appearance="outline"
                        class="readonly-field"
                      >
                        <mat-label>Actual Check In Date</mat-label>
                        <input
                          matInput
                          [matDatepicker]="checkInDatePicker"
                          formControlName="actualCheckInDate"
                          (input)="
                            onFlexibleDateInput($event, 'actualCheckInDate')
                          "
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="checkInDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                          #checkInDatePicker
                          [touchUi]="true"
                        ></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field
                        appearance="outline"
                        class="readonly-field"
                      >
                        <mat-label>Actual Check In Time</mat-label>
                        <input
                          matInput
                          type="time"
                          formControlName="actualCheckInTime"
                        />
                      </mat-form-field>
                    </div>
                                  
                  </div> <button
                  mat-raised-button
                  class="side-btns"
                  (click)="addDamage()"
                >
                  Add Damage
                </button>

                  <h3>Mileage</h3>
                  <mat-divider></mat-divider>
                  <div class="row-3-fields">
                    <mat-form-field class="gray-bg" appearance="fill">
                      <mat-label>KM Out</mat-label>
                      <input matInput formControlName="kmOut" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="readonly-field">
                      <mat-label>KM In</mat-label>
                      <input matInput formControlName="kmIn" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="readonly-field">
                      <mat-label>Mileage Additional Amount</mat-label>
                      <input matInput formControlName="mileageExtra" />
                    </mat-form-field>
                  </div>

                  <h3>Fuel</h3>
                  <mat-divider></mat-divider>
                  <div class="row-3-fields">
                    <mat-form-field class="gray-bg" appearance="fill">
                      <mat-label>Fuel Out</mat-label>
                      <input matInput formControlName="fuelOut" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="readonly-field">
                      <mat-label>Fuel In</mat-label>
                      <input matInput formControlName="fuelIn" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="readonly-field">
                      <mat-label>Fuel Additional Amount</mat-label>
                      <input matInput formControlName="fuelExtra" />
                    </mat-form-field>
                  </div>
        

                  <h3>Pricing</h3>
                  <mat-divider></mat-divider>
                  <div class="row-4-fields">
                    <mat-form-field appearance="fill" class="gray-bg">
                      <mat-label>Net Amount</mat-label>
                      <input matInput formControlName="netAmount" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="gray-bg">
                      <mat-label>Gross Amount</mat-label>
                      <input matInput formControlName="grossAmount" />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="buttons-group">
                <button mat-button matStepperPrevious>Back</button>
           
                <button
                  mat-raised-button
                  class="buttons-end"
                  color="primary"
                  (click)="save()"
                >
                  Save & Print
                </button>

                <button
                  mat-raised-button
                  class="buttons-end"
                  color="accent"
                  (click)="generateInvoice()"
                >
                  Invoice
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <mat-card class="summary">
    <mat-card-header>
      <mat-card-title>Live Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Rental ID:</strong> 0000001</p>
      <p><strong>First Name:</strong> John</p>
      <p><strong>Last Name:</strong> Doe</p>
      <p><strong>Check Out:</strong> 01/04/2024</p>
      <p><strong>Check In:</strong> 10/04/2024</p>
      <p><strong>Net Amount:</strong> €300</p>
      <p><strong>Extras:</strong> €50</p>
      <p><strong>Gross Amount:</strong> €350</p>
    </mat-card-content>
  </mat-card>
</div>
