<h2 class="title">Internal Movement</h2>

<div class="container">
  <mat-card class="form-container">
    <mat-card-content>
      <form [formGroup]="employeeCheckOutForm">
        <h3>Employee Info</h3>
        <mat-divider></mat-divider><br />

        <div class="employee-row">
          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Driver Licence Nr.</mat-label>
            <input matInput formControlName="driverLicenseNumber" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Department</mat-label>
            <input matInput formControlName="department" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Reason</mat-label>
            <input matInput formControlName="reason" />
          </mat-form-field>
        </div>

        <h3>Date and Time</h3>
        <mat-divider></mat-divider><br />

        <div class="employee-row">
          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Check Out Location</mat-label>
            <input matInput formControlName="checkoutLocation" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Check Out Date</mat-label>
            <input
              matInput
              [matDatepicker]="checkOutDatePicker"
              formControlName="checkOutDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="checkOutDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #checkOutDatePicker
              [touchUi]="true"
            ></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Check Out Time</mat-label>
            <input
              matInput
              [ngxTimepicker]="checkOutTimePicker"
              formControlName="checkOutTime"
              [format]="24"
            />
            <ngx-material-timepicker
              #checkOutTimePicker
            ></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="employee-row">
          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Expected Return Location</mat-label
            ><input matInput formControlName="expectedLocation" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Expected Return Date</mat-label>
            <input
              matInput
              [matDatepicker]="expectedDatePicker"
              formControlName="expectedDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="expectedDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #expectedDatePicker
              [touchUi]="true"
            ></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="readonly-field">
            <mat-label>Expected Return Time</mat-label>
            <input
              matInput
              [ngxTimepicker]="expectedTimePicker"
              formControlName="expectedTime"
              [format]="24"
            />
            <ngx-material-timepicker
              #expectedTimePicker
            ></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div class="car-date-row">
          <div>
            <h3>Return</h3>
            <mat-divider></mat-divider>
            <div class="employee-row">
              <mat-form-field appearance="outline" class="readonly-field">
                <mat-label>Check In Location</mat-label>
                <input matInput formControlName="checkInLocation" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="readonly-field">
                <mat-label>Check In Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="checkInDatePicker"
                  formControlName="checkInDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkInDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #checkInDatePicker
                  [touchUi]="true"
                ></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="readonly-field">
                <mat-label>Check In Time</mat-label>
                <input
                  matInput
                  [ngxTimepicker]="checkInTimePicker"
                  formControlName="checkInTime"
                  [format]="24"
                />
                <ngx-material-timepicker
                  #checkInTimePicker
                ></ngx-material-timepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="car-date-row">
          <div>
            <h3>Car Info</h3>
            <mat-divider></mat-divider>
            <div class="row-fields">
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Rental Agreement Number</mat-label>
                <input matInput formControlName="rentalnr" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="readonly-field">
                <mat-label>MVA</mat-label>
                <input matInput formControlName="mva" />
              </mat-form-field>
            </div>
            <div class="row-fields">
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Car Group</mat-label>
                <input matInput formControlName="carGroup" />
              </mat-form-field>
              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>License Plate</mat-label>
                <input matInput formControlName="licensePlate" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Fuel</mat-label>
                <input matInput formControlName="fuel" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Car Model</mat-label>
                <input matInput formControlName="carModel" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Millage</mat-label>
                <input matInput formControlName="millage" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Color</mat-label>
                <input matInput formControlName="color" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Status</mat-label>
                <input matInput formControlName="status" />
              </mat-form-field>

              <mat-form-field class="gray-bg" appearance="fill">
                <mat-label>Transmission</mat-label>
                <input matInput formControlName="transmission" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="buttons-group">
          <button
            mat-raised-button
            class="buttons1"
            (click)="saveEmployeeForm()"
          >
            Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
