:root {
  --color-bg: #000000;

  --color-gradient-start: #2fa0cc;
  --color-gradient-mid: #3e93cc;
  --color-gradient-end: #a933a3;

  --color-gradient: linear-gradient(-11deg, #a933a3, #6076BF, #2fa0cc);
  --color-gradient-opaque: linear-gradient(
    -11deg,
    rgba(161, 59, 166, 0.2),
    rgba(62, 150, 204, 0.2),
    rgba(47, 160, 204, 0.2)
  );

  --button-1: #3e96cc;
  --button-2: #904aac;
  --green: #00ffae;
  --yellow: #ffcc00;
}
.buttons1 {
  background-color: var(--button-1) !important;
  color: white !important;
  border-radius: 10px !important;
}

.buttons2 {
  background-color: var(--button-2) !important;
  color: white !important;
  border-radius: 10px !important;
}
.nobgbutton {
  background-color: transparent !important;
  color: var(--button-1) !important;
  border-radius: 10px !important;
}
html,
body {
  background-color: var(--color-bg);
}

body {
  font-family: "Inter", "Inter", sans-serif;
  margin: 0;
  overflow: hidden;
}
mat-form-field.gray-bg .mat-mdc-text-field-wrapper {
  background-color: rgb(70, 70, 70) !important;
}
.mat-slide-toggle{
  background-color: var(--color-gradient-opaque);
}
.mat-mdc-select-value,
.mat-mdc-option,
.mat-step-label,
.mat-step-text-label,
.mat-step-icon-selected,
.mat-step-icon-state-edit,
.mat-step-icon-state-done,
.mat-step-header:hover,
.mat-step-header.cdk-keyboard-focused,
.mat-mdc-form-field input.mat-mdc-input-element,
.mat-mdc-form-field textarea.mat-mdc-input-element,
.mat-mdc-form-field .mdc-floating-label,
.mat-mdc-form-field.mat-focused .mdc-floating-label,
.mat-mdc-form-field .mdc-floating-label--float-above,
.mat-radio-label-content,
.mat-hint,
input::placeholder,
textarea::placeholder {
  color: white !important;
}

.mat-mdc-select-panel {
  background-color: #000000 !important;
}
::ng-deep .mat-optgroup-label {
  color: white !important;
}

.mat-mdc-option:hover {
  background-color: #555 !important;
}

.mat-step-icon-selected,
.mat-step-icon-state-edit,
.mat-step-icon-state-done {
  background-color: #1976d2 !important;
}

.mat-stepper-horizontal-line {
  border-top-color: #666 !important;
}

.mat-horizontal-stepper-content::-webkit-scrollbar {
  width: 6px;
}

.mat-horizontal-stepper-content::-webkit-scrollbar-track {
  background: #333;
}

.mat-horizontal-stepper-content::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

.mat-mdc-form-field.readonly-field .mdc-notched-outline__leading,
.mat-mdc-form-field.readonly-field .mdc-notched-outline__notch,
.mat-mdc-form-field.readonly-field .mdc-notched-outline__trailing,
.mat-mdc-form-field-disabled .mdc-notched-outline__leading,
.mat-mdc-form-field-disabled .mdc-notched-outline__notch,
.mat-mdc-form-field-disabled .mdc-notched-outline__trailing {
  border-color: white !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
  border-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white;
  border-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-gap,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-color: white;
}

.mat-horizontal-stepper-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 75vh;
  height: auto;
  overflow-y: auto;
  box-sizing: border-box;
}
.mat-optgroup-label {
  color: white;
}

.mdc-text-field--disabled .mdc-notched-outline__leading,
.mdc-text-field--disabled .mdc-notched-outline__notch,
.mdc-text-field--disabled .mdc-notched-outline__trailing {
  border-color: rgba(255, 255, 255, 0.37) !important;
}
.mat-mdc-radio-button .mdc-form-field label,
.mat-mdc-radio-button .mdc-label {
  color: white !important;
}
.mat-mdc-radio-button .mdc-radio__outer-circle {
  border-color: white !important;
}

.mat-mdc-radio-button .mdc-radio__inner-circle {
  background-color: white !important;
}
.mat-form-field-appearance-outline input[readonly] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  opacity: 1 !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 5px;
}
.form-container::-webkit-scrollbar {
  width: 6px;
}
.form-container::-webkit-scrollbar-track {
  background: #333;
}
.form-container::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}
::ng-deep .toggle-button.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #4caf50; /* Thumb (circle) when ON */
}

::ng-deep .toggle-button.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #a5d6a7; /* Track when ON */
}

::ng-deep .toggle-button.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #8b3636; /* Thumb when OFF */
}

::ng-deep .toggle-button.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #7c2727; /* Track when OFF */
}
::ng-deep .toggle-button.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}
