<mat-toolbar class="header">
  
    <img src="assets/logo.png" alt="ATMAX Logo" class="logo" />
 
</mat-toolbar>

<div class="login-wrapper">
  <mat-card class="login-container">
    <h2>Reset Password</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="reset-btn" type="submit" [disabled]="forgotPasswordForm.invalid">
        Send Reset Link
      </button>

      <a (click)="goToLogin()" class="back-to-login">Back to Login</a>
    </form>
  </mat-card>
</div>
