:host {
  display: block;
  margin: 30px;
}

h2,
h3 {
  color: white;
  font-family: "Inter";
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 16px;
  border-radius: 8px;
  background: var(--color-gradient-opaque);
  border-radius: 10px;
  border: 1px solid white;
}

table {
  width: 100%;
  background: transparent;
  color: white;
}

th,
td {
  padding: 12px;
  color: white;
  font-weight: semi-bold;
}
.search-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: white;
  display: block;
}

.mat-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
}

.completed {
  background-color: #00e676 !important;
}

.active {
  background-color: #ffca28 !important;
}

mat-icon {
  color: var(--color-gradient-mid) !important;
}

.mobile-cards {
  display: none;
}

@media (max-width: 768px) {
  .desktop-table {
    display: none;
  }

  .mobile-cards {
    display: block;
  }

  .card {
    background-color: transparent;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Inter";
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-btn {
    margin-top: 10px;
  }

  .mat-chip {
    margin-left: 10px;
    font-size: 14px;
  }
}
