<h2 class="title">Users</h2>
<input
  matInput
  placeholder="Search users"
  (input)="applyFilter($event)"
  class="search-input"
/>
<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8 desktop-table"
  >
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
      <td mat-cell *matCellDef="let element">{{ element.roles }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="editUser()">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="mobile-cards" *ngFor="let element of dataSource.filteredData">
    <div class="card">
      <div class="card-header">
        <h3>{{ element.firstname }} {{ element.lastname }}</h3>
        <p class="roles">{{ element.roles }}</p>
      </div>
      <p>Email: {{ element.email }}</p>
      <button
        mat-icon-button
        color="accent"
        class="edit-btn"
        (click)="editUser()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>


</div>  <div class="buttons-container">
    <button
      mat-raised-button
      color="accent"
      class="new-user-btn"
      (click)="gotoNewUser()"
    >
      New User
    </button>
  </div>
