.full-width-table {
  width: 100%;
}
.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 16px;
  border-radius: 10px;
  background: var(--color-gradient-opaque);
  border: 1px solid white;
}
:host {
  display: block;
  margin: 30px;
}
h2.title {
  color: white;
  font-size: 24px;
  margin-bottom: 50px;
  font-family: "Inter";
}

table {
  width: 100%;
  background: transparent;
  color: white;
}

th {
  color: white;
  font-weight: bold;
  font-family: "Inter";
}

td {
  padding: 12px;
  color: white;
}
.title,
.subtitle {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

mat-grid-list {
  width: 100%;
}
.mat-icon {
  color: #ffca28;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  color: white;
}

.mat-elevation-z8 {
  box-shadow: none;
}
.search-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: white;
  display: block;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}
.new-user-btn {
  margin-top: 20px;
  background-color: var(--button-1) !important;
  color: white !important;
  font-weight: bold;
  font-family: "Inter";
  border-radius: 10px;
}

.mobile-cards {
  display: none;
}
button {
  font-weight: bold;
  text-transform: none;
}

@media (max-width: 768px) {
  .desktop-table {
    display: none;
  }
  :host {
    margin: 10px;
  }
  .mobile-cards {
    display: block;
  }

  .card {
    background-color: #2d2d2d;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Inter";
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .role {
    font-size: 1.1em;
    font-weight: bold;
    color: lightgray;
  }

  .edit-btn {
    margin-top: 10px;
  }

  .buttons-container {
    text-align: center;
    margin-top: 15px;
  }

  .new-user-btn {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
  }
}
