<h2 class="title">New Upcoming Rental</h2>

<div class="container">
  <mat-card class="form-container">
    <mat-card-content>
      <form [formGroup]="rentalForm">
        <div class="grid-two-columns">
          <div>
            <h3>Customer Info</h3>
            <mat-divider></mat-divider>

            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>

          <div>
            <h3>Car & Dates</h3>
            <mat-divider></mat-divider>

            <mat-form-field appearance="outline">
              <mat-label>Car Group</mat-label>
              <input matInput formControlName="carGroup" />
            </mat-form-field>

            <div class="row-fields">
              <mat-form-field appearance="outline">
                <mat-label>Check Out Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="checkOutDatePicker"
                  formControlName="checkOutDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkOutDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #checkOutDatePicker
                  [touchUi]="true"
                ></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <input
                  matInput
                  [ngxTimepicker]="checkOutTimePicker"
                  formControlName="checkOutTime"
                  [format]="24"
                />
                <ngx-material-timepicker
                  #checkOutTimePicker
                ></ngx-material-timepicker>
              </mat-form-field>
            </div>

            <div class="row-fields">
              <mat-form-field appearance="outline">
                <mat-label>Check In Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="checkInDatePicker"
                  formControlName="checkInDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkInDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #checkInDatePicker
                  [touchUi]="true"
                ></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <input
                  matInput
                  [ngxTimepicker]="checkInTimePicker"
                  formControlName="checkInTime"
                  [format]="24"
                />
                <ngx-material-timepicker
                  #checkInTimePicker
                ></ngx-material-timepicker>
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Total Price (€)</mat-label>
              <input matInput formControlName="price" />
            </mat-form-field>
          </div>
        </div>

        <div class="buttons-group">
          <button mat-raised-button color="primary">Save</button>
          <button mat-raised-button color="primary">Print</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
