<h2 class="title">New Upcoming Rental</h2>

<div class="container">
  <mat-card class="form-container">
    <mat-card-content>
      <form [formGroup]="rentalForm" (keydown.enter)="$event.preventDefault()">
        <h3>Customer Info</h3>
        <mat-divider></mat-divider><br />

        <div class="row-fields">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Flight Number</mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <div class="row-fields">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Car Group</mat-label>
            <input matInput formControlName="carGroup" />
          </mat-form-field>
        </div>

        <h3>Dates</h3>
        <mat-divider></mat-divider><br />

        <div class="row-fields">
          <mat-form-field appearance="outline">
            <mat-label>Check Out Station</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Check Out Date</mat-label>
            <input
              matInput
              [matDatepicker]="checkOutDatePicker"
              formControlName="checkOutDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="checkOutDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #checkOutDatePicker
              [touchUi]="true"
            ></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Check Out Time</mat-label>
            <input
              matInput
              [ngxTimepicker]="checkOutTimePicker"
              formControlName="checkOutTime"
              [format]="24"
            />
            <ngx-material-timepicker
              #checkOutTimePicker
            ></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div class="row-fields">
          <mat-form-field appearance="outline">
            <mat-label>Check In Station</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Check In Date</mat-label>
            <input
              matInput
              [matDatepicker]="checkInDatePicker"
              formControlName="checkInDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="checkInDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #checkInDatePicker
              [touchUi]="true"
            ></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Check In Time</mat-label>
            <input
              matInput
              [ngxTimepicker]="checkInTimePicker"
              formControlName="checkInTime"
              [format]="24"
            />
            <ngx-material-timepicker
              #checkInTimePicker
            ></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div style="margin-top: 20px">
          <button
            mat-raised-button
            type="button"
            (click)="toggleAdditionalFees()"
            class="buttons2"
          >
            Add Additional Fees
          </button>
        </div>

        <mat-card *ngIf="showAdditionalFees" class="form-container">
          <h3>Additional Fees</h3>
          <mat-divider></mat-divider><br />
          <mat-card-content>
            <div formArrayName="additionalFees">
              <div
                *ngFor="let fee of additionalFees.controls; let i = index"
                [formGroupName]="i"
                class="fee-row"
              >
                <mat-form-field appearance="outline">
                  <mat-label>Additional Fee</mat-label>
                  <mat-select formControlName="feeType">
                    <mat-option value="Additional Drivers"
                      >Additional Drivers (€50)</mat-option
                    >
                    <mat-option value="Child Seat">Child Seat (€30)</mat-option>
                    <mat-option value="Cross Border"
                      >Child Seat (€30)</mat-option
                    >

                    <mat-option value="Booster Seat"
                      >Booster Seat (€25)</mat-option
                    >
                    <mat-option value="youngDriver">Young Driver</mat-option>
                    <mat-option value="upgrade">Upsell/Upgrade</mat-option>

                    <mat-option value="latePickup">Late Pickup</mat-option>

                    <mat-option value="winterTire">Winter Tire</mat-option>

                    <mat-option value="noshowFee">No Show Fee</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Price (€)</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="price"
                    placeholder="e.g. 50"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Fee Duration</mat-label>
                  <mat-select formControlName="feeDuration">
                    <mat-option value="daily">Daily</mat-option>
                    <mat-option value="weekly">Weekly</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Max Price (€)</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="maxPrice"
                    placeholder="e.g. 100"
                  />
                </mat-form-field>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeAdditionalFee(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <button mat-mini-fab color="primary" (click)="addAdditionalFee()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-form-field
          appearance="outline"
          class="full-width-field"
          style="margin-top: 20px"
        >
          <mat-label>Total Price (€)</mat-label>
          <input matInput formControlName="price" />
        </mat-form-field>

        <div class="buttons-group" style="margin-top: 20px">
          <button mat-raised-button class="buttons1" type="submit">Save</button>
          <button
            mat-raised-button
            class="buttons1"
            type="button"
            (click)="print()"
          >
            Print
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
