<app-default-header
  #header
  (sidebarToggle)="toggleSidenav()"
></app-default-header>

<mat-sidenav-container class="main-container">
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    [opened]="true"
    class="side-nav"
    [class.expanded]="isExpanded"
    (mouseenter)="isExpanded = true"
    (mouseleave)="isExpanded = false"
  >
    <div class="menu-container">
      <ul class="menu-list">
        <li
          *ngFor="let item of menuItems"
          [class.active]="router.url === item.route"
          (click)="navigate(item.route)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="isExpanded">{{ item.label }}</span>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <app-back-button></app-back-button>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
