html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-bg);
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-default-header {
  width: 100%;
  height: 64px;
  background-color: var(--color-gradient);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.side-nav {
  width: 60px;
  transition: width 1s ease;
  overflow: hidden;
  border-radius: 0;
  background: var(--color-gradient);
  color: white;
  height: calc(100vh - 64px);
  position: fixed;
  top: 64px;
  left: 0;
}

.side-nav.expanded {
  width: 200px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 16px;
  width: 100%;
}

.menu-list li {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  justify-content: center;
}

.menu-list li.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.side-nav.expanded .menu-list li {
  justify-content: flex-start;
  padding-left: 16px;
}

.side-nav.expanded .menu-list li mat-icon {
  margin-right: 8px;
}

.menu-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-list li span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

.side-nav.expanded .menu-list li span {
  opacity: 1;
}

mat-sidenav-content {
  margin-top: 64px;
  margin-left: 60px;
  padding: 20px;
  background-color: #000000 !important;
  height: calc(100vh - 64px);
  overflow-y: auto;
  transition: margin-left 1s ease;
}

.side-nav.expanded + mat-sidenav-content {
  margin-left: 200px;
}
