<h2 class="title">Update Fees</h2>

<div class="container">
  <mat-card class="form-container">
    <mat-card-content>
      <form [formGroup]="updatePricesForm">
        <div class="section">
          <div class="oneline-all">
            <div>
              <mat-divider></mat-divider>
              <div class="row-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Fee Name</mat-label>
                  <mat-select formControlName="additionalFee">
                    <mat-optgroup
                      *ngFor="let group of feeGroups"
                      [label]="group.name"
                    >
                      <mat-option
                        *ngFor="let fee of group.options"
                        [value]="fee.value"
                      >
                        {{ fee.viewValue }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Fee Type</mat-label>
                  <mat-select formControlName="additionalFeeType">
                    <mat-option value="Daily">Daily</mat-option>
                    <mat-option value="Weekly">Weekly</mat-option>
                    <mat-option value="Weekend">Weekend</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="gray-bg" appearance="fill">
                  <mat-label>Change From</mat-label>
                  <input matInput formControlName="additionalFeeFrom" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Change To</mat-label>
                  <input matInput formControlName="additionalFeeTo" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="button-group">
          <button mat-raised-button class="buttons1" (click)="onSave()">Save</button>
          <button mat-raised-button class="nobgbutton" (click)="goback()">
            Cancel
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
